.dockingStationContainer {
  background-color: antiquewhite;
  color: black;
  /*width: 190px;*/

  /*height: 254px;*/
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-bottom: 10px;
}

h3 {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

h3,
p {
  margin: 0px;
}

p {
  text-align: center;
  font-size: 0.8rem;
  margin-right: 10px;
}

p.available {
  color: green;
}

p.empty {
  color: red;
}

.availableContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  margin-bottom: 0.5rem;
}

.addButton {
  background-color: olive;
  font-size: 0.7rem;
}
