.searchbar {
  width: 50vw;
  height: 30px;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.addButton {
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  color: slategrey;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 0.4em;
  width: 40px;
  margin: 0px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addButton:hover,
.addButton:focus {
  color: black;
}

.addButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.addButton:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
